

<div class="col-md-3 right-side-bar"><!-- col-md- 3-->
      
          <!-- news starts -->
          <div class="card"><!-- card-->
            <div class="card-body"><!-- card body-->
              <h5 class="card-title" style="font-size: 1em;">Breaking News</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->

              <!-- body text -->
              <span class="text-muted" style="font-size: 0.9em;">Politics updates: Capitol Police Officer Howard Liebengood, 51, dies while off duty; cause not released</span>
              <p class="card-text" style="font-size: 0.9em;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" style="font-size: 0.9em;">Yahoo news</a> . 
              <a href="#" style="font-size: 0.9em;">Newsforum</a> .
              <span style="font-size: 0.9em;">55m ago</span>
              <!-- <hr> -->
               <!-- body text ends-->

               
            </div><!-- card body ends -->
          </div><!-- card ends -->

          <!-- news ends -->
        </div><!-- col-md- 3 ends-->